/* Custom Styling */
:root {
    --bg-gradient-color-1: #af67e9;
    --bg-gradient-color-2: #6565e7;

    --clr-primary-1: #1d1e35;
    --clr-primary-2: #f47c57;

    --clr-neutral-1: #4a4b5e;
    --clr-neutral-2: #787887;

    --clr-divider: #e7e7e9;

    --ff-primary: 'Kumbh Sans', sans-serif;
}

/* Reset Styling */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

img {
    max-width: 100%;
}

/* Typography Styling */
h2 {
    color: var(--clr-primary-1);
}

.question {
    color: var(--clr-neutral-1);
}

.answer.hidden {
    color: var(--clr-neutral-2);
}

/* General Styling */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--bg-gradient-color-1), var(--bg-gradient-color-2));
    font-family: var(--ff-primary);
    padding: 2rem;
}

.card {
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 0 5px;
    position: relative;
    width: 100%;
    max-width: 56rem;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 20rem;
    padding: 2rem;
}

.box {
    display: none;
}

    /* card-img Styling */

    .desktop-img {
        display: none;
    }

    .mobile-img {
        width: 100%;
        height: auto;
        position: absolute;
        top: -1.5rem;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 20rem;
    }

    /* Accordion Styling */
    .accordion {
        margin-top: 8rem;
    }

    h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .content-container {
        padding-top: 1rem;
        border-bottom: 1px solid var(--clr-divider);
    }
    
    .question {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family: var(--ff-primary);
        border: none;
        background: transparent;
        padding: 0;
        font-size: 1.2rem;
        cursor: pointer;
        transition: .3s;
    }

    .question:hover {
        color: var(--clr-primary-2);
    }

    .question::after {
        content: url("./images/icon-arrow-down.svg");
        margin-left: 1rem;
    }

    .answer {
        margin: 1rem 0;
    }

    /* Attribution Styling */
    .attribution {
        position: absolute;
        bottom: 1rem;
        display: flex;
    }

    .attribution p {
        color: #fff;
        margin: 0 .5rem;
    }

    .attribution a {
        color: var(--clr-primary-2);
    }

/* Responsive Styling */
@media (min-width: 768px) {

    .card {
        display: flex;
        padding: 3rem 3rem 3rem 0;
        margin: 0 auto;
        background-image: url(./images/bg-pattern-desktop.svg);
        background-size: 70%;
        background-position: -100%;
        position: relative;
    }

    .box {
        display: block;
        position: absolute;
        left: 0;
        top: 57%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .card-img,
    .accordion {
        flex: 1;
    }

    .card-img {
        display: flex;
        align-items: center;
        overflow: hidden;
        margin-bottom: 0;
    }

    .desktop-img {
        display: block;
        transform: translateX(-4rem);
    }

    .mobile-img {
        display: none;
    }

    .accordion {
        margin-top: 0;
    }

    h1 {
        text-align: left;
    }
}

/* JavaScript Styling */

.hidden {
    line-height: 1.5;
    height: 0;
    overflow: hidden;
}

.bold {
    font-weight: 700;
    color: var(--clr-primary-1);
}